<div class="wrapper">
    <h1 id="heading1">Our Story</h1>
<p class="small">We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
                Fans were given situations where they had to come up with wacky and fun excuses. The person with the best
                excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that
                Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!</p>
    
            <p class="small"> Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the
                softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the
                middle of a performance and even finding excuses to be disqualified in a football match.</p>
    
            <p >Launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
                situations where they had to come up with wacky and fun excuses. The person with the best excuse won the
                Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan
                Pizza is the Tastiest Pan Pizza. Ever!</p>
    <div class="box1 box">
        <img  id="img1"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSmhd-H427HBDytyxzdgsHYovt5k_J-CK2ab7Sw4DN4w&s=10" alt="">
        <div class="text">
            <h1>Ingredients</h1>
            <p>We're ruthless about goodness. We have no qualms about tearing up a day-old
                lettuce leaf (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam.
                Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.</p>
        </div>
    </div>
    <div class="box2 box">
        <div class="text">
            <h1>Our Chefs</h1>
            <p>They make sauces sing and salads dance. They create magic with skill,
                knowledge, passion, and stirring spoons (among other things). They make goodness so good, it doesn't
                know what to do with itself. We do though. We send it to you.</p>
        </div>
        <img id="img2"  src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="">
    </div>
    <div class="box3 box">
        <img  id="img3" src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" alt="">
        <div class="text">
            <p>45 Minutes Delivery</p>
        </div>
    </div>
</div>