<div class="wrapper">
    @for (pizza of pizzas; track $index) {
    <div class="card">
        <div class="left">
            <p id="name">{{pizza.name}} </p>
            <img id="type" [src]="'/'+pizza.type +'.png'" alt="">
            <p id="price">₹{{pizza.price}}</p>
        </div>
        <hr>
        <div class="middle">
            
            <p class="description">
                <span class="titles">Description:</span>
            {{pizza.description}}   
            </p>
            
            <p class="indgredients">
                <span class="titles">Indgredients:</span>
                {{pizza.ingredients}}
            </p>
            
            <p class="toppings">
                <span class="titles">Toppings:</span>
                {{pizza.topping}}
            </p>
        </div>
        <hr>
        <div class="right">
            <img [src]="pizza.image" alt="">
            <button id="add" (click)="addToCart(pizza)" >Add to Cart</button>
        </div>
 
    </div>
    }
  
</div>