<div class="wrapper">
    <div class="card">
        <div class="left">
            <p id="name">Paneer Tikka </p>
            <img id="type" src="/veg.png" alt="">
            <p id="price">₹290.00</p>
        </div>
        <hr>
        <div class="middle">
            
            <p class="description">
                <span class="titles">Description:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente .</p>
            
            <p class="indgredients">
                <span class="titles">Indgredients:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellendus!</p>
            
            <p class="toppings">
                <span class="titles">Toppings:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias?</p>
        </div>
        <hr>
        <div class="right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/376831/127528958/stock-photo-delicious-italian-pizza-over-white-127528958.jpg" alt="">
            <button id="add">Add to Cart</button>
        </div>

    </div>
    <!-- card2 -->
        <div class="card">
        <div class="left">
            <p id="name">Paneer Tikka </p>
            <img id="type" src="/veg.png" alt="">
            <p id="price">₹290.00</p>
        </div>
        <hr>
        <div class="middle">
            
            <p class="description">
                <span class="titles">Description:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente .</p>
            
            <p class="indgredients">
                <span class="titles">Indgredients:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellendus!</p>
            
            <p class="toppings">
                <span class="titles">Toppings:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias?</p>
        </div>
        <hr>
        <div class="right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/376831/127528958/stock-photo-delicious-italian-pizza-over-white-127528958.jpg" alt="">
            <button id="add">Add to Cart</button>
        </div>
    </div>
    <!-- card3 -->
             <div class="card">
        <div class="left">
            <p id="name">Paneer Tikka </p>
            <img id="type" src="/veg.png" alt="">
            <p id="price">₹290.00</p>
        </div>
        <hr>
        <div class="middle">
            
            <p class="description">
                <span class="titles">Description:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente .</p>
            
            <p class="indgredients">
                <span class="titles">Indgredients:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellendus!</p>
            
            <p class="toppings">
                <span class="titles">Toppings:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias?</p>
        </div>
        <hr>
        <div class="right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/376831/127528958/stock-photo-delicious-italian-pizza-over-white-127528958.jpg" alt="">
            <button id="add">Add to Cart</button>
        </div>
    </div>
    <!-- 4 -->
             <div class="card">
        <div class="left">
            <p id="name">Chicken Tikka </p>
            <img id="type" src="/nonveg.png" alt="">
            <p id="price">₹290.00</p>
        </div>
        <hr>
        <div class="middle">
            
            <p class="description">
                <span class="titles">Description:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente .</p>
            
            <p class="indgredients">
                <span class="titles">Indgredients:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellendus!</p>
            
            <p class="toppings">
                <span class="titles">Toppings:</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, molestias?</p>
        </div>
        <hr>
        <div class="right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/376831/127528958/stock-photo-delicious-italian-pizza-over-white-127528958.jpg" alt="">
            <button id="add">Add to Cart</button>
        </div>
    </div>
</div>