<div id="wrapper">
    <div class="left side">
        <p class="heading-myCart">My Cart</p>
        <hr>
        <div class="items-holder">
            <div class="item">
                <img src="https://thumb9.shutterstock.com/display_pic_with_logo/376831/127528958/stock-photo-delicious-italian-pizza-over-white-127528958.jpg"
                    height="100px" alt="">
                <img src="/veg.png" height="30px" alt="">
                <div class="name-price">
                    <h2>Paneer Tikka</h2>
                    <p style="font-size: 18px;">₹290</p>
                </div>



                <!-- input and buttons -->
                <div class="set-qty">
                    <button>-</button>
                    <input type="text" value="2" size="1">
                    <button>+</button>
                </div>
                <!-- ends -->


                <div class="priceNqty" style="font-weight: bold ;">₹580</div>
                <!-- delete icon -->
                <a class="item-delete">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
        <div class="subtotal">
            <p><Span>Sub Total: </Span>₹930</p>
        </div>
    </div>
    <!-- right side -->
    <div class="right ">
        <div class="right-card-wrapper side">
             <h2>The total amount of</h2>
             <hr>
        <div class="pizza-price do-flex">
            <p style="font-size: large;">Pizza Costed:</p>
            <h3>₹983</h3>
        </div>
        <div class="ingredients-price do-flex">
            <div class="dropdown">Ingredients</div>
            <h3>Rs.45</h3>
        </div>
        <hr>
        <div class="bottom-left do-flex">
                <h2>Total:</h2>
                <h2>₹983.99</h2>
        </div>
        </div>
       
        <div class="buttons">
            <button id="pay">Pay</button>
            <button id="clear">Clear</button>
        </div>
    </div>

</div>