<div id="wrapper">

    <div class="left side">
        <p class="heading-myCart">My Cart</p>
        <hr>
        <div class="items-holder">
            <!-- items show here for cart -->
             @for (item of this.cart.items(); track $index) {
            <div class="item">
                <img [src]="item.image"
                    height="100px" alt="">
                <img [src]="'/'+item.type+'.png'" height="30px" alt="">
                <div class="name-price">
                    <h2>{{item.name}}</h2>
                    <p style="font-size: 20px;">{{item.price}}</p>
                </div>



                <!-- input and buttons -->
                <div class="set-qty">
                    <button id="reduce" (click)="decreaseItem(item.cartId)">-</button>
                    <input type="text" [value]="item.qty" size="1">
                    <button id="increase" (click)="increaseItem(item.cartId)" >+</button>
                </div>
                <!-- ends -->


                <div class="priceNqty" style="font-weight: bold ;">₹{{item.price * item.qty}}</div>
                <!-- delete icon -->
                <a class="item-delete" (click)="deleteThisItem(item.cartId)">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        }
        </div>
        <div class="subtotal">
            <p><Span>Sub Total: </Span>₹{{this.cart.subTotal()}}</p>
        </div>
    </div>

    <!-- right side -->
    <div class="right ">
        <div class="right-card-wrapper side">
             <h2>The total amount of</h2>
             <hr>
        <div class="pizza-price do-flex">
            <p style="font-size: large;">Pizza Costed:</p>
            <h3>₹983</h3>
        </div>
        <div class="ingredients-price do-flex">
            <div class="dropdown">Ingredients</div>
            <h3>₹45</h3>
        </div>
        <hr>
        <div class="bottom-left do-flex">
                <h2>Total:</h2>
                <h2>₹983.99</h2>
        </div>
        </div>
       
        <div class="buttons">
            <button id="pay">Pay</button>
            <button id="clear" (click)="showData()">Clear</button>
        </div>
    </div>

</div>